pm_host = "{{pm_host}}"
pm_password = "{{pm_password}}"
pm_node_name = "{{pm_node}}"
pm_tls_insecure = true
pvt_key = "{{pvt_key}}"
num_k3s_masters_mem = {{pm_master_mem}}
num_k3s_nodes_mem = {{pm_node_mem}}
num_k3s_masters_cpu = {{pm_master_cpu}}
num_k3s_nodes_cpu = {{pm_node_cpu}}
tamplate_vm_name = "{{tamplate_vm_name}}"